<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name=".OfflineDatabase"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/apps_bg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/apps_bg"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareerMatcherPro"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.PremiumPackagesActivity"
            android:exported="false" />
        <activity
            android:name=".videos.BasicComputerVideoActivity"
            android:exported="false" />
        <activity
            android:name=".videos.PhotoshopVideoActivity"
            android:exported="false" />
        <activity
            android:name=".videos.MSPointVideoActivity"
            android:exported="false" />
        <activity
            android:name=".videos.MSWordActivity"
            android:exported="false" />
        <activity
            android:name=".videos.MSExcelVideoActivity"
            android:exported="false" />
        <activity
            android:name=".videos.IllustratorVideoActivity"
            android:exported="false" />
        <activity
            android:name=".videos.EnglishVideoActivity"
            android:exported="false" />
        <activity
            android:name=".videos.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".videos.BanglaVideoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewAllJobActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".premium_pdf.EthicsActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.GeographyActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.MathActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.ComputerActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.GeneralScienceActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.InternationalAffActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.BangladeshAffairActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.MentalActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.EnglishActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.BanglaActivity"
            android:exported="false" />
        <activity
            android:name=".cv.TemplateViewActivity"
            android:exported="false"
            android:parentActivityName=".cv.TemplateCVActivity" />
        <activity
            android:name=".cv.TemplateCVActivity"
            android:exported="false"
            android:parentActivityName=".cv.CVActivity" />
        <activity
            android:name=".activity.FullJobDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".alljob.AllJobActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bcs.BCSQuestionAnswerActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.FullQuestionAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".bank_que.BankQuestionAnswerActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bank.BankJobActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ngo.NGOJobActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".teacher.TeacherJobActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".nongovt.NonGovtJobActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activity.ShowPDFActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".govt.GovtActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".cv.CVActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebsiteActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>