<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:name=".OfflineDatabase"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/apps_bg"
        android:label="@string/app_name"
        android:roundIcon="@drawable/apps_bg"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareerMatcherPro"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".premium_pdf.MathActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.ComputerActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.GeneralScienceActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.InternationalAffActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.BangladeshAffActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.BangladeshAffairActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.MentalActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.EnglishActivity"
            android:exported="false" />
        <activity
            android:name=".premium_pdf.BanglaActivity"
            android:exported="false" />
        <activity
            android:name=".cv.TemplateViewActivity"
            android:exported="false"
            android:parentActivityName=".cv.TemplateCVActivity" />
        <activity
            android:name=".cv.TemplateCVActivity"
            android:exported="false"
            android:parentActivityName=".cv.CVActivity" />
        <activity
            android:name=".bcs.BCSQuestionAnswerActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".FullQuestionAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".bank_que.BankQuestionAnswerActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".bank.BankJobActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".FullJobDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ngo.NGOJobActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".teacher.TeacherJobActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".nongovt.NonGovtJobActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.ShowPDFActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.FullJobDetailsActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".govt.GovtActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".cv.CVActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebsiteActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationActivity"
            android:exported="false"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>